<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    added bootstrap  -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

    <title>Inventory home page</title>
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Welcome to inventory app</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/categories}">Categories List</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/categories/new}">Create New Category</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products}">Products List</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/products/new}">Create New Product</a>
    </div>
</div>
</body>
</html>